* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50%;
  /* padding: 40px; */
  border-radius: 20px;
  background-color: #101216;

  & h1 {
    margin-bottom: 10px;
    color: #ff6600;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff6600;
  }

  & p {
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 40px;
  }

  & button {
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 100px;
    color: white;
  }
}
